---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <a href="http://v.t.sina.com.cn/share/share.php?title={{ page.title }}&url={{ site.url }}{{ page.url }}&content=utf-8" title="分享到微博" rel="nofollow" target="_blank">新浪微博</a>
          <a href="http://connect.qq.com/widget/shareqq/index.html?url={{ site.url }}{{ page.url }}&showcount=0&title={{ page.title }}" title="分享给QQ好友" rel="nofollow" target="_blank">QQ好友</a>
          <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{ site.url }}{{ page.url }}&title={{ page.title }}&content=utf-8" title="分享到QQ空间" rel="nofollow" target="_blank">QQ空间</a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      {% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
